{% extends 'blog/siteshab.html' %}
{% block body %}
<div id='pst'>
  <table>

     <div>
        <tr>
          <td>
         <h1><a href="{% url 'bookexmp' pk=post.pk %}">{{ post.title }}</a></h1>
         <img src={{ post.img.url }} width="200" height="250"  >
       </td>
           <td>
         <p>{{ post.text|linebreaksbr }}</p>
         <p>published: {{ post.published_date }}</p>
       </td>
         </tr>
     </div>

</table>
</div>
    <script>
    var pos = 0;
                    while (true) {
                        var foundPos = document.body.innerHTML.indexOf("blog/", pos);
                        if (foundPos == -1) break;
                        document.getElementById("pst").innerHTML= document.getElementById("pst").innerHTML.replace('blog/', '/');
                        pos = foundPos + 1; // продолжить поиск со следующей
                    }
    </script>
  {% endblock %}
